* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    line-height: 38px;
    letter-spacing: -0.03em;
    background: #F4F4F4;
}

h1 {
    background-color: #6943FF;
}

p {
    background-color: white;
}

input {
    margin-top: 30px;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-weight: 800;
    font-size: 58px;
    line-height: 42%;
    text-align: center;
}

button {
    margin-top: 26.77px;
    width: 117px;
    height: 42px;
    background: white;
    border-color: white;
    border-radius: 5px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}

input::placeholder {
    font-weight: 800;
    font-size: 58px;
    line-height: 42%;
    text-align: center;
    color: white;
}

.header {
    padding: 35px;
    text-align: center;
    background: #6943FF;
    color: white;
}

.cards {
    background-color: white;
    padding: 20px;
    margin-top: 23.73px;
    margin-left: 25px;
    margin-right: 25px;
}

#card-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #5A537B;
}

.card-body {
    margin-top: 9px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #353535;
}